.st{
    font-family: Arial, Helvetica, sans-serif;
}

.s1{
    color: aqua;
}

.s2{
    color: blue;
}

.s3{
    color: rgb(0, 119, 255);
}

.s4{
    color: rgb(80, 26, 73);
}

.s5{
    color: rgb(73, 12, 36);
}


.s6{
    color: rgb(194, 96, 240);
}

.s7{
    color: rgb(219, 188, 10);
}

.s8{
    color: rgb(53, 184, 21);
}

.s9{
    color: rgb(73, 28, 10);
}

.s10{
    color: rgb(155, 11, 11);
}
